.navbar-header{
    width:inherit;
}

.navbar-brand > img{ 
    height: inherit;
}

.navbar-brand {
    width: inherit;
}

.navbar.navbar-fixed-top{
    border-color:#222222;

}

.navbar-nav{
    float:none;
    margin-left: 35%;
}

.navbar.tours{
    margin-top:60px;
}

.panel-body p{ 
    font-size: medium;
}

.panel-body .btn {
    font-size: x-large;
}

[name$=-tour] + .row{ 
    padding-top:180px;
} 

[name$=-tour] + .row h1{
    color:white;
}

[name$=-tour] + .row p {
    text-align: justify;
    color: white;
}

.row .btn{ 
    display:block;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 2px 2px 10px black;
}

footer .row{
    height:initial;
}

footer .row p{
    font-size:initial;
}

.carousel-caption > h4{
    display:inline-block;
}

.carousel-caption > h4 > a{
    font-size: 30px;
    width:240px;
}

.carousel-caption h4:nth-child(1){
    background-color: #67E071;
    border-color: #;
}

.carousel-caption h4:nth-child(2){
    
}

.carousel-caption h4:nth-child(3){
    
}

.carousel-caption h4:nth-child(4){
    
}



@media screen and (min-width: 360px) {
    .carousel-caption {
        bottom:25%;
    }
}

@media screen and (min-height: 360px){
    [name$=-tour] + .row{
        height:640px;
    }
    
    [name$=-tour] + .row h1{
        font-size: 32px;
        margin-bottom:30px;
    }
    
    [name$=-tour] + .row p{
        font-size: 18px;
        height: 180px;
    }
    
    .row .btn{
        width: 180px;
        font-size:15px;
    }
    
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        bottom:40%;
    }
    
    .navbar.navbar-fixed-top{    
        height:60px;
    }
    
    .navbar *{
        height:inherit;
    }
}

@media screen and (min-height: 640px)  {
    [name$=-tour] + .row{ 
        height: 940px;
    }

    [name$=-tour] + .row h1{
        font-size: 48px;
        margin-bottom: 30px;
    }

    [name$=-tour] + .row p{ 
        font-size: 20px;
        height: 260px;
    }
    
    [name$=-tour] + .row .btn{
        width: 180px;
        font-size:25px;
    }
}

