.navbar-header{
    width:inherit;
}

.navbar-brand > img{ 
    height: inherit;
}

.navbar-brand {
    width: inherit;
}

.navbar.navbar-fixed-top{
    border-color:#222222;

}

.navbar.tours{
    height:initial !important; 
    margin-top:100px !important;
}

.panel-body p{ 
    font-size: medium;
}

.panel-body .btn {
    font-size: x-large;
}

.row{ 
    padding-top:180px;
} 

.row p {
    text-align: justify;
}

.row .btn{ 
    display:block;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 2px 2px 10px black;
}

footer .row{
    height:initial;
}

footer .row p{
    font-size:initial;
}

.carousel-caption > h4{
    display:inline-block;
}

.carousel-caption > h4 > a{
    font-size: 30px;
    width:240px;
}

.carousel-caption h4:nth-child(1){
    background-color: #67E071;
    border-color: #;
}

.carousel-caption h4:nth-child(2){
    
}

.carousel-caption h4:nth-child(3){
    
}

.carousel-caption h4:nth-child(4){
    
}



@media screen and (min-width: 360px) {
    .carousel-caption {
        bottom:25%;
    }
}

@media screen and (min-height: 360px){
    .row{
        height:640px;
    }
    
    .row h1{
        font-size: 32px;
        margin-bottom:30px;
    }
    
    .row p{
        font-size: 14px;
    }
    
    .row .btn{
        width: 180px;
        font-size:25px;
    }
    
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        bottom:40%;
    }
    
    .navbar.navbar-fixed-top{    
        height:100px;
    }
    
    .navbar *{
        height:inherit;
    }
}

@media screen and (min-height: 640px)  {
    .row{ 
        height: 940px;
    }

    .row h1{
        font-size: 64px;
        margin-bottom:30px;
    }

    .row p{ 
        font-size: 32px;
        height:420px;
    }
    
    .row .btn{
        width: 240px;
        font-size:35px;
    }
}

