.navbar-header{
    width:inherit;
}

.navbar-brand > img{ 
    height: inherit;
}

.navbar-brand {
    width: inherit;
}

.navbar.navbar-fixed-top{
    border-color:#222222;

}

.navbar-nav{
    float:none;
    margin-left: 35%;
}

.panel-body p{ 
    font-size: medium;
}

.panel-body .btn {
    font-size: x-large;
}

header#myCarousel{
    margin-bottom:5px;
}

[name=tours] + .row{
    margin-bottom: 5px;
    background-color: #FCEE55;
}

[name$=-tour] + .row, [name=tours] + .row{ 
    padding-top:120px;
    margin-bottom:5px;
} 

[name$=-tour] + .row h1, [name=tours] + .row h1{
    color:white;
    text-shadow: 0px 6px 10px black;
}

[name=tours] + .row .row h1{
    color:#333;
}

[name$=-tour] + .row p {
    text-align: justify;
    color: white;
    text-shadow: 0px 6px 10px black;
}

[name = tours] + .row{
    padding-bottom: 320px;
}


[name=tours] + .row .panel-title{
    text-align:center;
    font-size: 22px;
    text-shadow: 0px 2px 2px #aaa;
    color: #333;
}

[name=tours] + .row .panel {
    border-color: #bbb;
    border-width: 2px;
}

[name=tours] + .row .panel-heading{
    border-width: 3px;
}

.row .btn{ 
    display:block;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 2px 2px 10px black;
}

.row.buffer{
    height:20px;
}

footer .row{
    height:initial;
}

footer .row p{
    font-size:initial;
}

.carousel-caption > h4{
    display:inline-block;
}

.carousel-caption > h4 > a{
    font-size: 30px;
    width:240px;
}

@media screen and (max-width: 320px){
    .carousel-inner .fill{ 
        background-position: center;
    }
}

@media screen and (min-width: 320px){
    .carousel-caption{
        bottom:25%;
    }

    .navbar.tours{
        margin-top: 50px;
        height: 50px;
    }

    [name$=-tour] + .row{
        height:640px;
    }
    
    [name$=-tour] + .row h1, [name=tours] + .row h1{
        font-size: 32px;
        margin-bottom:30px;
    }
    
    [name$=-tour] + .row p{
        font-size: 14px;
        height: 320px;
    }

    [name$=-tour] + .row, [name=tours] + .row{ 
        padding-top: 120px;
        margin-bottom: 5px;
    } 

    .container-fluid > .row:first-of-type .panel-title{
        font-size: 16px;
    }

    .panel-body p {
        font-size: x-small;
    }
    
    .row .btn{
        width: 180px;
        font-size:14px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        bottom:40%;
    }

    .carousel-inner .fill{ 
        background-position: 0px 110px;
    }
    
    .navbar.navbar-fixed-top{    
        height:60px;
    }
    
    .navbar *{
        height:inherit;
    }

    .navbar.tours{
        height: 60px;
        margin-top: 60px;
    }

    [name$=-tour] + .row{ 
        height: 840px;
    }

    [name$=-tour] + .row, [name=tours] + .row{ 
        padding-top: 160px;
        margin-bottom: 5px;
    } 

    [name$=-tour] + .row h1{
        font-size: 48px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    [name$=-tour] + .row p{ 
        font-size: 20px ;
        height: 320px;
    }
    
    [name$=-tour] + .row .btn{
        width: 180px;
        font-size: 25px;
    }

    .panel-body p {
        font-size: 14px;
    }
}

