<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blue Skys Tours Jamaica</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/full-slider.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='css/page.css') }} " rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="padding:0px;">
                    <img src="{{ url_for('static', filename='img/blueskystoursstencil2-white.png') }}"
                         class="center-block"/>
                </a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <p>Contact Us: </p>
            </div>
        </div>
        <!-- /.container -->
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-top tours" role='navigation'>
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#tours-offered" aria-expanded="false">
                    <span class="sr-only"> Toggle navigation </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <b><i>Tours Offered:</i></b>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="tours-offered">
                <ul class="nav navbar-nav">
                    <li><a href="#kingston-tour">Kingston </a></li>
                    <li><a href="#blue-mountain-tour">Blue Mountain</a></li>
                    <li><a href="#port-royal-tour">Port Royal</a></li>
                    <li><a href="#out-of-town-tour">Out of Town</a></li>
                </ul>
            </div>
        </div>
        
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" 
                     style="background-image:url('{{url_for('static', filename='img/border.jpeg')}}');"></div>
                <div class="carousel-caption">
                    <h2>Tours that EXCITE, ENTERTAIN and EDUCATE</h2>
                    <br/>
                    <br/>
                    <h2> Book your tour below! </h2>
                    <a class="btn btn-default" href="#tours">More Information about tours</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-fluid" name="content">
            <a name="tours"></a>
            <div class="row">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h1>General Tours Information</h1>
                    </div>
                </div>
                <div class="row buffer"></div>
                <div class="col-lg-8 col-lg-offset-2">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">Our Clients </h1>
                        </div>
                        <div class="panel-body">
                            <p>
                                We cater to visitors, locals, corporate clients, educational institutions, church conventions, corporate clients, family reunions. Anyone interested in learning about Jamaica is invited on our tours. All our tours are conducted by trained and professional tour guides within a comfortable, safe and secure environment.
                            </p>
                            <p>
                                Anyone interested in learning about Jamaica is invited on our tours.
                                All out tours are conducted by trained and professional tour guides 
                                within a comfortable, safe and secure environment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title"> Tour costs </h1>
                        </div> 
                        <div class="panel-body">
                            <p>
                                Tours begin at $100USD per person except for” Out Of Town Tours”. Group rate applies for 6 persons or more and local rate applies for all educational institutions. We also offer bread and breakfast accommodation and transportation.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
            <a name="kingston-tour"></a>
            <div class="row" 
                 style="background: url({{ url_for('static', filename='img/scenery3.jpeg') }});
                        background-size:cover;
                 ">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 style="display: inline-block;
                               padding-right: 30px;">
                        Kingston Tour
                    </h1>
                    <p> 
                        Imagine exploring and experiencing Jamaica’s history, 
                        customs and traditions. <br><br> Join us as we tell the story 
                        of Jamaica’s Emancipation from slavery, heroes, 
                        politics, musical heritage and world class athletes. 
                        Come and view our National Parks, Art Institutions, 
                        main food market and eat lunch at one of our main food
                        stops. <br><br> We guarantee that we will give you the true 
                        Jamaican experience as you explore the dynamics of 
                        Kingston, meet and mingle with its warm and friendly 
                        people and enjoy, the “Heartbeat of Jamaica”.
                    </p>
                    <a class="btn btn-default" 
                       href="mailto:infini ty.genservices@gmail.com?Subject=Kingston%20Tours">
                        Book Now
                    </a>
                </div>
            </div>
            <a name="port-royal-tour"></a>
            <div class="row" 
                 style="background: url({{url_for('static', filename='img/port-royal-tour.jpeg')}});
                        background-size:cover;">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 style="display: inline-block;
                               padding-right: 30px;">
                        Port Royal Tour
                    </h1>
                    <p>
                        Visit which was once called, the “Richest and Wickedest 
                        City in the whole world.” <br/><br/>Learn about the Buccaneers, 
                        the great earthquake, enjoy the town’s history, scenery
                        and enjoy a delicious Jamaican seafood meal. Also view 
                        the Plumbline Light house and be renewed and revived at
                        the Rock fort Mineral Bath.
                    </p>
                    <a class="btn btn-default" 
                       href="mailto:infinity.genservies@gmail.com?Subject=Port%Royal%20Tour">
                        Book Now
                    </a>
                </div>
            </div>
            <a name="blue-mountain-tour"></a>
            <div class="row" 
                 style="background: url({{ url_for('static', filename='img/blue-mountain-tours.jpeg')}}) ; 
                        background-size: 100% 100%;">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 style="display: inline-block; 
                               padding-right:30px;">
                        Blue Mountain Tour
                    </h1>
                    <p>
                        Take the trip up to our world re-nowned Blue Mountains 
                        where you will enjoy spectacular views. </br>Enjoy New Castle
                        one of our army's bases, then visit Hollywell Botanical
                        Gardens where you can hike, swim or just enjoy the 
                        beautiful garden with its indegenous flowers, fauna and 
                        birds. Then on to Cafe Blue for our world class coffee
                        or just enjoy an authentic delicious Jamaican meal.
                    </p>
                    <a class="btn btn-default"
                       href="mailto:infinity.genservices@gmail.com?Subject=Blue%20Mountain%20Tour">
                        Book Now
                    </a>
                </div>
            </div>
            <a name="out-of-town-tour"></a>
            <div class="row" 
                 style="background: url({{ url_for('static', filename='img/out-of-town-tours.jpeg') }});
                        background-size: cover;
                        background-position:0px -683px;">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 style="display: inline-block;
                               padding-right:30px;">
                        Off The Beaten Track Tours
                    </h1>
                    <p>
                        Based on personal requests, tailored to meet and exceed our visitors’ expectations.
                        May include the North, South, East and West Coasts of Jamaica, designed as, “off 
                        the beaten Path” tours. From Negril to Morant Point we can take you where you want 
                        to go while giving you that unique, enjoyable and memorable Jamaican experience. 
                        You may choose to visit Ocho Rios , Montego Bay, Negril, Treasure Beach, Mandeville, 
                        Falmouth etc. You design your own tour and we will take you there.*<br><br><br>
                        <small>**(Special rates apply)</small>
                    </p>
                    <a class="btn btn-default"
                       href="mailto:infinity.genservices@gmail.com?Subject=Out%20Of%20Town%20Tours">
                        Book Now
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1> Contact Us </h1>
                    <p>
                        To Book : <br/>Contact Arlene Bhoorasingh (CEO) at 
                        infinity.genservices@gmail.com <br/><b>Or</b> <br/>Call us at 
                        876-359-8204:876-813-3995 or 716-381-4585.
                    </p>
                </div>
            </div>
        </a>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Sky Blue Tours Jamaica 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{{ url_for('static' , filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
